.section {
  margin-bottom: var(--space-12);
}

.heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding: var(--space-3) 0
    var(--space-4);

  border-top: 2px solid;
}

.heading h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.heading span {
  color: var(--color-text-muted);
  font-size: var(--font-size-xs);
}